* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(20, 20, 20);
}

.footer-div {
  position: relative;
  color: white;
  font-family: monospace;
  transform: translateY(145%);
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 60px;
  margin-top: 85px;
  background-color: rgb(26, 26, 26);
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#footer-text {
  position: absolute;
  margin-left: calc(50% - 78px / 2);
  color: rgb(224, 224, 224);
  margin-top: calc(30px - 12px / 2);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.493);
  font-family: Tahoma;
}

.header-div {
  color: white;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 60px;
  background-color: rgb(26, 26, 26);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#btn-1 {
  border: none;
  position: absolute;
  border-radius: 5px;
  font-weight: 650;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.068);
  left: calc(100% - 220px);
  margin-top: calc(30px - 15px);
  background: linear-gradient(100deg, #4d8329, #2da000, #5eff79);
  color: #fff;
  transition: 0.5;
  text-shadow: 1.2px 1.2px black;
  font-size: 18px;
  width: 200px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}

#btn-text {
  position: absolute;
  left: calc(100% - 165px);
  bottom: calc(100% - 35px);
  text-shadow: 1px 1px black;
  font-family: Tahoma;
}

#first-container {
  width: 250px;
  padding: 10px;
  text-align: center;
  left: 0;
  top: 0;
  margin-left: 50%;
  transform: translateX(-140px);
  background-color: rgb(26, 24, 24);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  margin-top: calc((250px / 2) - 50px);
  height: 250px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 2px;
}

#container {
  width: 250px;
  padding: 10px;
  text-align: center;
  left: 0;
  margin-left: 50%;
  transform: translateX(-140px);
  margin-top: 4vh;
  background-color: rgb(26, 24, 24);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  height: 250px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 2px;
}

#client-name {
  color: white;
  text-shadow: 1px 1px black;
  font-family: Tahoma;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#version-text {
  font-weight: 600px;
  color: rgb(182, 182, 182);
  font-family: Tahoma;
  text-shadow: 2px 2px black;
  font-size: 1.25vh;
}

#version {
  color: #124f68;
  background: linear-gradient(100deg, #4d8329, #2da000, #5eff79);
  background-clip: text;
  font-family: Tahoma;
  -webkit-text-fill-color: transparent;
  color: black;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15);
  font-size: 1.25vh;
}

#btn-2 {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.068);
  background: linear-gradient(100deg, #4d8329, #2da000, #5eff79);
  color: #fff;
  transition: 0.5;
  text-shadow: 1.2px 1.2px black;
  margin-top: 10px;
  left: 0;
  position: absolute;
  margin-left: calc(50% - 160px / 2);
  width: 150px;
  height: 30px;
  text-decoration: none;
}

#btn-2-text {
  display: flex;
  color: white;
  font-family: Tahoma;
  font-size: 12px;
  margin-top: calc(15px - 8.5px);
  margin-left: calc(150px / 2 - 48px / 2);
  text-decoration: none;
}

#btn-1:hover {
  cursor: pointer;
}

#btn-text:hover {
  cursor: pointer;
}

#btn-2-text:hover {
  cursor: pointer;
}

#btn-2:hover {
  cursor: pointer;
}

#change-log-text {
  position: absolute;
  color: white;
  font-size: 12px;
  font-family: Tahoma;
  text-shadow: 1px 1px black;
  top: 0;
  margin-top: 68px;
  margin-left: 8px;
}

#change-log-version {
  color: #124f68;
  background: linear-gradient(100deg, #4d8329, #2da000, #5eff79);
  background-clip: text;
  font-family: Tahoma;
  -webkit-text-fill-color: transparent;
  color: black;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15);
  font-size: 1.25vh;
}
